body {
    background-color: #24353f;
}

#login-content, #signup-content, .logged-in, nav {
    box-shadow:  -6px -2px 64px -9px #000;
}

h1 {
    color: #17a2b8;
}

input {
    background-color: transparent !important;
    color: #fff !important;
}

input::placeholder {
    color: #b6b6b6 !important;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: underline !important;
}

.form-control:focus {
    box-shadow: none;
    border-color: #0dcaf0;
}

.btn-outline-info:hover {
    color: #fff;
}